[submodule "utm.git"]
	path = utm.git
	url = https://github.com/Turbo87/utm
[submodule "pyshp"]
	path = pyshp
	url = https://github.com/GeospatialPython/pyshp
[submodule "pyfpdf"]
	path = pyfpdf
	url = https://github.com/reingart/pyfpdf
